<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Agregar Ingreso / Egreso</h4>
            <p class="card-description">
              Especifique el monto y el tipo
            </p>

            <form [formGroup]="ingresoForm" (ngSubmit)="guardar()" >
              
              <div class="form-group">
                <label>Descripción</label>
                <input type="text"
                      formControlName="descripcion"
                      class="form-control" 
                      placeholder="Descripción"
                      name="descripcion">
              </div>

              <div class="form-group">
                  <label>Monto</label>
                  <input type="number" 
                         formControlName="monto"
                         class="form-control" 
                         placeholder="Monto"
                         name="monto">
                    <p>
                      Debe de ser un monto positivo
                    </p>
                </div>

              <div class="form-group">
                  <label>Tipo</label>
                  <br>
                  <button type="button"
                          *ngIf="tipo==='Ingreso'"
                          (click)="tipo = 'Egreso'" 
                          class="btn btn-primary btn-block"
                          >Ingreso</button>
                  <button type="button"
                          *ngIf="tipo==='Egreso'"
                          (click)="tipo = 'Ingreso'" 
                          class="btn btn-warning btn-block">Egreso</button>
              </div>

              <hr>

              <button *ngIf="!loading" type="submit" 
                      class="btn btn-success mr-2"
                      [disabled]="ingresoForm.invalid">
                <i class="fa fa-save"></i>
                Agregar
              </button>

              <button *ngIf="loading" type="submit" 
                      class="btn btn-success mr-2"
                      [disabled]="ingresoForm.invalid">
              <i class="fa fa-spin fa-sync"></i>
                Guardando...
              </button>

              <!-- 
                <button disabled class="btn btn-success mr-2">
                  <i class="fa fa-spin fa-sync"></i>
                  Espere por favor...
                </button> 
              -->
              
              <button type="reset" class="btn btn-light">Cancelar</button>

            </form>
          </div>
        </div>
      </div>
</div>
          