<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalle de ingreso egreso</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <th>Monto</th>
                  <th>Tipo</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let ingresoEgreso of ingresosEgresos | ordenIngresoEgreso">
                  <td>{{ ingresoEgreso.descripcion }}</td>

                  <td>{{ ingresoEgreso.monto | currency}}</td>

                  <td [class.text-danger]="ingresoEgreso.tipo === 'Egreso'"
                      [class.text-success]="ingresoEgreso.tipo === 'Ingreso'">
                    {{ ingresoEgreso.tipo }}
                  </td>

                  <td class="text-danger">
                    <button type="button" 
                            (click)="borrar( ingresoEgreso.uid )"        
                            class="btn btn-danger">
                      <i class="fa fa-trash"></i>
                      Borrar
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
    </div>
</div>
  